# Ignore opencv build stuff
external/opencv/build

# Ignore own stuff
bin
lib/*.a
lib/*.so
build

pictures/*
!pictures/cat.png
!pictures/bike.jpg
!pictures/circle.jpg

borders

# Save me from the emacs save files
*~